{% extends 'basic.html' %}
{% block title %}
Exchanges Items
{% endblock %}

{% block body %}
<div class="alert alert-success" role="alert">
  <strong>Welcome to Exchange Items.</strong> Please <a href="/login">login</a>/<a href="/register">register</a>
</div>
<div class="container">
  <div class="row">
    <div class="jumbotron col-md-5 mr-3">
      <h1 class="display-4">Blog!</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-outline-info btn-lg" href="/blog/" role="button">Go to Blog!</a>
    </div>
    <div class="jumbotron col-md-5 ml-3">
      <h1 class="display-4">Items!</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-outline-info btn-lg" href="/items/" role="button">Go to Items!</a>
    </div>
  </div>
</div>
{% endblock %}